<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login with phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3 style="text-align:center">Login</h3>
    <br />
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="countryCode" placeholder="Select One">
        <ion-select-option
          *ngFor="let country of countries"
          value="{{ country.value }}"
          >{{ country.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input [(ngModel)]="phoneNumber" type="number"></ion-input>
    </ion-item>
    <br />
    <div class="captcha">
      <div id="recaptcha"></div>
    </div>
    <br />
    <ion-button (click)="sendCode()" color="primary" expand="block"
      >Send otp</ion-button
    >
  </div>

  <div *ngIf="windowRef.confirmationResult" class="verify">
    <h3 style="text-align:center">Login</h3>
    <ion-item>
      <ion-label position="floating">Verify Code</ion-label>
      <ion-input [(ngModel)]="verificationCode" type="text"></ion-input>
    </ion-item>
    <br />
    <ion-button (click)="verifyCode()" color="primary" expand="block"
      >Verify</ion-button
    >
  </div>
</ion-content>
