<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-center">
  <div class="login">
    <h3 class="login" style="text-align:center">Login Your Account</h3>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br />
    <ion-button color="primary" expand="block">Login</ion-button>
    <br />
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      routerLink="/add-account"
      routerDirection="forward"
      >Login With OTP</ion-button
    >
  </div>
</ion-content>
