<ion-menu-toggle auto-hide="false">
  <div padding>
    <ion-row>
      <ion-col style="padding-bottom:10px" size="3">
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
      </ion-col>
      <ion-col style="padding-bottom:10px" size="9">
        <h3 style="text-align:center">Hello, <b>Jishnu</b></h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoggedIn">
      <ion-col size="6">
        <div>
          <ion-button
            routerDirection="forward"
            routerLink="/my-orders"
            color="primary"
            expand="block"
            >My Orders
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="signOut()" color="secondary" expand="block"
          >Logout</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoggedIn">
      <ion-col size="12">
        <ion-button color="primary" expand="block" routerLink="/login"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-list *ngFor="let page of pages">
      <ion-item routerDirection="forward" [routerLink]="[page.url]">
        <ion-label>
          {{ page.title }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-menu-toggle>
