<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 class="ion-text-center">Categories</h3>
  <ion-row>
    <ion-col size="4" *ngFor="let category of categories">
      <ion-card class="ion-activatable {{ category.bg }}">
        <ion-ripple-effect></ion-ripple-effect>
        <p class="category-title ion-text-center">{{ category.title }}</p>
      </ion-card>
    </ion-col>
  </ion-row>

  <h3 class="ion-text-center">Tags</h3>
  <ion-chip color="secondary">
    <ion-label color="secondary">Secondary</ion-label>
  </ion-chip>

  <ion-chip color="primary">
    <ion-label color="primary">Primary</ion-label>
  </ion-chip>

  <ion-chip color="secondary">
    <ion-label color="secondary">Secondary</ion-label>
  </ion-chip>

  <ion-chip color="tertiary">
    <ion-label color="Tertiary">Tertiary</ion-label>
  </ion-chip>

  <ion-chip color="success">
    <ion-label color="success">Success</ion-label>
  </ion-chip>

  <ion-chip color="danger">
    <ion-label color="danger">Danger</ion-label>
  </ion-chip>
</ion-content>
