<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-text-center">Your Cart</h3>
  <ion-card class="cart-card">
    <ion-row>
      <ion-col size="2">
        <ion-thumbnail style="margin: 14px 0px">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="5">
        <p style="font-size: 16px;">
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </ion-col>
      <ion-col size="3">
        <h5 class="ion-text-center item-price">
          ₹8999
        </h5>
      </ion-col>
      <ion-col size="2">
        <h5 class="ion-text-center">12</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <ion-button color="danger" size="small">Remove</ion-button>
      </ion-col>
      <ion-col class="col-cn">
        <ion-button size="small"
          ><ion-icon name="remove"></ion-icon
        ></ion-button>
        <ion-button size="small"><ion-icon name="add"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="cart-card">
    <ion-row>
      <ion-col size="2">
        <ion-thumbnail style="margin: 14px 0px">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="5">
        <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur</p>
      </ion-col>
      <ion-col size="3">
        <h5 class="ion-text-center item-price" style="color: #10dc60;">
          ₹8999
        </h5>
      </ion-col>
      <ion-col size="2">
        <h5 class="ion-text-center">12</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <ion-button color="danger" size="small">Remove</ion-button>
      </ion-col>
      <ion-col class="col-cn">
        <ion-button size="small">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="cart-card">
    <ion-row>
      <ion-col size="2">
        <ion-thumbnail class="cart-img" style="margin: 14px 0px">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="5">
        <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur</p>
      </ion-col>
      <ion-col size="3">
        <h5 class="ion-text-center item-price" style="color: #10dc60;">
          ₹8999
        </h5>
      </ion-col>
      <ion-col size="2">
        <h5 class="ion-text-center">12</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <ion-button color="danger" size="small">Remove</ion-button>
      </ion-col>
      <ion-col class="col-cn">
        <ion-button size="small">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
