.gradient-bg-1 {
  background: linear-gradient(
    140deg,
    rgba(255, 108, 171, 1) 20%,
    rgb(116, 104, 250) 100%
  );
}

.gradient-bg-2 {
  background: linear-gradient(
    140deg,
    rgb(248, 97, 67) 20%,
    rgb(250, 171, 69) 100%
  );
}

.gradient-bg-3 {
  background: linear-gradient(
    140deg,
    rgb(74, 72, 175) 20%,
    rgb(63, 157, 252) 100%
  );
}

.gradient-bg-4 {
  background: linear-gradient(
    140deg,
    rgb(96, 82, 243) 20%,
    rgb(243, 44, 104) 100%
  );
}

.gradient-bg-trans-1 {
  background: linear-gradient(
      140deg,
      rgba(255, 108, 171, 0.8),
      rgba(115, 102, 255, 1) 100%
    ),
    url("https://picsum.photos/id/2/720/300");
}

.gradient-bg-trans-2 {
  background: linear-gradient(
      140deg,
      rgba(252, 80, 46, 0.8),
      rgba(255, 166, 46, 1) 100%
    ),
    url("https://picsum.photos/id/1/720/300");
}

.gradient-bg-trans-3 {
  background: linear-gradient(
      140deg,
      rgba(58, 57, 133, 0.8),
      rgba(52, 153, 255, 1) 100%
    ),
    url("https://picsum.photos/id/1/720/300");
}

.gradient-bg-trans-4 {
  background: linear-gradient(
      140deg,
      rgba(115, 102, 255, 0.8),
      rgba(240, 11, 81, 1) 100%
    ),
    url("https://picsum.photos/id/1/720/300");
}
