<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        class="icon-tool"
        name="md-search"
        routerLink="/search"
        routerDirection="forward"
      ></ion-icon>
      <ion-icon
        class="icon-tool"
        name="md-cart"
        routerLink="/cart"
        routerDirection="forward"
      ></ion-icon>
    </ion-buttons>
    <ion-title>
      Produts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <h3 style="text-align: center">All Products</h3>
    <ion-row align-items-center>
      <ion-col align-self-start size="6">
        <ion-select okText="Okay" cancelText="Dismiss" placeholder="Category">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-select okText="Okay" cancelText="Dismiss" placeholder="Sort By">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col *ngFor="let product of products" size="6">
          <ion-card
            class="ion-activatable"
            [routerLink]="['/product/' + product.id]"
            routerDirection="forward"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <img src="../../assets/product1.jpg" alt="" />
            <div class="details">
              <h6 class="title ion-text-center">
                {{ product.shortName }}
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div class="price">₹{{ product.currentPrice }}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="rate"><i class="fas fa-star"></i> 4.5</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

  <div *ngIf="!products">
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="ion-activatable">
            <div style="margin: 10px;">
              <ion-skeleton-text
                animated
                style="width: 100%; height: 170px; border-radius: 8px;"
              ></ion-skeleton-text>
            </div>
            <div class="details">
              <h6 class="title ion-text-center">
                <div style="margin-left: 10px; margin-right: 10px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 30px;"
                  ></ion-skeleton-text>
                </div>
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div style="margin-left: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="margin-right: 10px;">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
