.icon-tool {
  padding: 0px 8px;
  font-size: 25px;
  outline: none;
}

.details {
  margin: 8px;
}

ion-card > div > p {
  margin-top: 6px;
  margin-bottom: 6px;
}

ion-card,
.card-ios,
.card-md {
  margin: 0px !important;
  outline: none !important;
}

.price {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #10dc60;
}

.rate {
  font-size: 16px;
  color: #737373;
  text-align: center;

  .fa-star {
    color: #f8b808;
  }
}

.select-text {
  text-align: center !important;
}
