<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        class="icon-tool"
        name="md-search"
        routerLink="/search"
        routerDirection="forward"
      ></ion-icon>
      <ion-icon
        class="icon-tool"
        name="md-cart"
        routerLink="/cart"
        routerDirection="forward"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <div class="image-container">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/product3.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/product4.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/product3.jpg" alt="" />
      </ion-slide>
    </ion-slides>
    <div class="item-details" padding>
      <div class="item-title">
        {{ item.longName }}
      </div>
      <div *ngIf="item.onOffer" class="offer">
        <ion-text color="success">*This product comes with offer</ion-text>
      </div>
      <ion-grid class="ion-justify-content-evenly">
        <ion-row class="ion-align-items-center first-row">
          <ion-col size="5">
            <div class="ion-text-center">
              <span class="stock">{{ stock }}</span>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">
              <span class="rating"><i class="fas fa-star"></i> 4.5</span>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="share ion-text-center" (click)="presentActionSheet()">
              <i class="fas fa-share-alt"></i>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <div class="price">
              ₹{{ item.currentPrice }}<span>₹{{ item.mrp }}</span>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-end">
              <div *ngIf="item.cod" class="cod">COD Available</div>
              <div *ngIf="!item.cod" class="cod">COD Not Available</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-button color="primary" expand="block">Add to cart </ion-button>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-end">
              <ion-button
                routerDirection="forward"
                routerLink="/checkout"
                color="secondary"
                expand="block"
                >Buy now
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Highlights</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ul>
          <li *ngFor="let item of highlight">{{ item }}</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Description</ion-card-title>
      </ion-card-header>

      <ion-card-content class="description">
        {{ item.description }}
      </ion-card-content>
    </ion-card>

    <!-- Rating and Reviews -->
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-card-title class="rate-title">Reviews</ion-card-title>
            </ion-col>
            <ion-col size="5">
              <ion-button
                class="rate-btn"
                size="small"
                color="primary"
                fill="outline"
                >Rate Product</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content class="description">
        <ion-grid class="user-rating-container">
          <ion-row>
            <ion-col class="align-self-center" size="5">
              <div class="rate-big">
                <p class="star-icon"><i class="fas fa-star"></i></p>
                <p class="rating-text">4.5</p>
              </div>
            </ion-col>
            <ion-col size="7">
              <p class="starval">5 Star</p>
              <ion-progress-bar color="success" value="0.7"></ion-progress-bar>
              <p class="starval">4 Star</p>
              <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
              <p class="starval">3 Star</p>
              <ion-progress-bar color="success" value="0.3"></ion-progress-bar>
              <p class="starval">2 Star</p>
              <ion-progress-bar color="warning" value="0.4"></ion-progress-bar>
              <p class="starval">1 Star</p>
              <ion-progress-bar color="danger" value="0.1"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="user-rating">
                <p class="user-name">Jishnu</p>
                <p class="user-star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </p>
                <p class="user-review">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
                  nihil.
                </p>
              </div>

              <div class="user-rating">
                <p class="user-name">Jishnu</p>
                <p class="user-star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </p>
                <p class="user-review">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
