.icon-tool {
  padding: 0px 8px;
  font-size: 25px;
  outline: none;
}

.item-title {
  margin-bottom: 6px;
  font-size: 18px;
  color: #5e5e5e;
}

.first-row {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.share > .fa-share-alt {
  color: #5e5e5e;
  padding: 7px;
  margin-bottom: 2px;
  font-size: 22px;
  border-radius: 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s fade;
}

.share > .fa-share-alt:active {
  background: #cecece;
}

.stock {
  background-color: #2274a5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
}

.rating {
  background-color: #ffd23f;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
}

.offer {
  margin-bottom: 15px;
}

.price {
  font-size: 22px;
  font-weight: 600;
  color: #10dc60;
  margin: 10px 0px;

  span {
    font-size: 14px;
    color: #9c9c9c;
    margin-left: 12px;
    text-decoration: line-through;
  }
}

ion-card-title {
  font-size: 17px;
}

.cod {
  color: #9c9c9c;
}

.rate-btn {
  float: right;
}

.rate-title {
  margin: 7px 0px;
}

.rate-big {
  margin-top: 8px;
}

.star-icon {
  text-align: center;
  font-size: 45px;
  color: #333;
}

.rating-text {
  text-align: center;
  font-size: 40px;
  color: #333;
}

.align-self-center {
  align-self: center;
}

.user-rating-container {
  padding: 0px !important;
  ion-col {
    padding: 0px !important;
  }
}

.user-rating {
  margin-top: 20px;
  margin-bottom: 15px;
  .user-name {
    font-size: 16px;
    color: #333;
  }
  .user-star {
    color: #ffce00;
  }
}
