<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        class="icon-tool"
        name="md-search"
        routerLink="/search"
        routerDirection="forward"
      ></ion-icon>
      <ion-icon
        class="icon-tool"
        name="md-cart"
        routerLink="/cart"
        routerDirection="forward"
      ></ion-icon>
    </ion-buttons>
    <ion-title>
      <strong>Folksy</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Slider -->
<ion-content>
  <ion-grid style="padding:0">
    <ion-card class="slider-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../assets/slider2.png" alt="" />
        </ion-slide>
        <ion-slide>
          <img src="../../assets/slider2.png" alt="" />
        </ion-slide>
      </ion-slides>
    </ion-card>
    <!-- Offer Section -->
    <div *ngIf="offers">
      <div class="ion-text-center offer-sec gradient-bg-trans-2">
        <h3>{{ offers[0].title }}</h3>
        <ion-text color="light">
          {{ offers[0].description }}
        </ion-text>
      </div>
    </div>

    <div *ngIf="!offers">
      <div class="ion-text-center offer-sec">
        <div style="margin-left: 30%; margin-right: 30%;">
          <h3>
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </h3>
        </div>
        <ion-text>
          <div style="margin-bottom: 10px;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
          <div style="margin-right: 10%; margin-left: 10%;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
        </ion-text>
      </div>
    </div>

    <!-- New Offers -->
    <div class="ion-text-center">
      <h3>New Offers</h3>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col *ngFor="let product of products" size="6">
          <ion-card
            class="ion-activatable"
            [routerLink]="['/product/' + product.id]"
            routerDirection="forward"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <img src="../../assets/product3.jpg" alt="" />
            <div class="details">
              <h6 class="title ion-text-center">
                {{ product.shortName }}
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div class="price">₹{{ product.currentPrice }}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="rate"><i class="fas fa-star"></i> 4.5</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!products">
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="offers">
      <div class="ion-text-center offer-sec gradient-bg-trans-1">
        <h3>{{ offers[1].title }}</h3>
        <ion-text color="light">
          {{ offers[1].description }}
        </ion-text>
      </div>
    </div>

    <div *ngIf="!offers">
      <div class="ion-text-center offer-sec">
        <div style="margin-left: 30%; margin-right: 30%;">
          <h3>
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </h3>
        </div>
        <ion-text>
          <div style="margin-bottom: 10px;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
          <div style="margin-right: 10%; margin-left: 10%;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
        </ion-text>
      </div>
    </div>

    <!-- Featured Items -->
    <div class="ion-text-center">
      <h3>Featured Items</h3>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col *ngFor="let product of products" size="6">
          <ion-card
            class="ion-activatable"
            [routerLink]="['/product/' + product.id]"
            routerDirection="forward"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <img src="../../assets/product3.jpg" alt="" />
            <div class="details">
              <h6 class="title ion-text-center">
                {{ product.shortName }}
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div class="price">₹{{ product.currentPrice }}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="rate"><i class="fas fa-star"></i> 4.5</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!products">
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Offer Section -->
    <div *ngIf="offers">
      <div class="ion-text-center offer-sec gradient-bg-trans-3">
        <h3>{{ offers[2].title }}</h3>
        <ion-text color="light">
          {{ offers[2].description }}
        </ion-text>
      </div>
    </div>

    <div *ngIf="!offers">
      <div class="ion-text-center offer-sec">
        <div style="margin-left: 30%; margin-right: 30%;">
          <h3>
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </h3>
        </div>
        <ion-text>
          <div style="margin-bottom: 10px;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
          <div style="margin-right: 10%; margin-left: 10%;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
        </ion-text>
      </div>
    </div>

    <div class="ion-text-center">
      <h3>New Items</h3>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col *ngFor="let product of products" size="6">
          <ion-card
            class="ion-activatable"
            [routerLink]="['/product/' + product.id]"
            routerDirection="forward"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <img src="../../assets/product3.jpg" alt="" />
            <div class="details">
              <h6 class="title ion-text-center">
                {{ product.shortName }}
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div class="price">₹{{ product.currentPrice }}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="rate"><i class="fas fa-star"></i> 4.5</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!products">
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Offer Section -->
    <div *ngIf="offers">
      <div class="ion-text-center offer-sec gradient-bg-trans-4">
        <h3>{{ offers[3].title }}</h3>
        <ion-text color="light">
          {{ offers[3].description }}
        </ion-text>
      </div>
    </div>

    <div *ngIf="!offers">
      <div class="ion-text-center offer-sec">
        <div style="margin-left: 30%; margin-right: 30%;">
          <h3>
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </h3>
        </div>
        <ion-text>
          <div style="margin-bottom: 10px;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
          <div style="margin-right: 10%; margin-left: 10%;">
            <ion-skeleton-text
              animated
              style="width: 100%; border-radius: 30px;"
            ></ion-skeleton-text>
          </div>
        </ion-text>
      </div>
    </div>

        <!-- New Offers -->
    <div class="ion-text-center">
      <h3>New Offers</h3>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col *ngFor="let product of products" size="6">
          <ion-card
            class="ion-activatable"
            [routerLink]="['/product/' + product.id]"
            routerDirection="forward"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <img src="../../assets/product3.jpg" alt="" />
            <div class="details">
              <h6 class="title ion-text-center">
                {{ product.shortName }}
              </h6>
              <ion-row>
                <ion-col size="6">
                  <div class="price">₹{{ product.currentPrice }}</div>
                </ion-col>
                <ion-col size="6">
                  <div class="rate"><i class="fas fa-star"></i> 4.5</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!products">
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="ion-activatable">
              <div style="margin: 10px;">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 170px; border-radius: 8px;"
                ></ion-skeleton-text>
              </div>
              <div class="details">
                <h6 class="title ion-text-center">
                  <div style="margin-left: 10px; margin-right: 10px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%; border-radius: 30px;"
                    ></ion-skeleton-text>
                  </div>
                </h6>
                <ion-row>
                  <ion-col size="6">
                    <div style="margin-left: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div style="margin-right: 10px;">
                      <ion-skeleton-text
                        animated
                        style="width: 100%; border-radius: 30px;"
                      ></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-grid>
</ion-content>
