.icon-tool {
  padding: 0px 8px;
  font-size: 25px;
  outline: none;
}

.details {
  margin: 8px;
}

ion-card > div > p {
  margin-top: 6px;
  margin-bottom: 6px;
}

ion-card,
.card-ios,
.card-md {
  margin: 0px !important;
  outline: none !important;
}

.price {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #10dc60;
}

.rate {
  font-size: 16px;
  color: #737373;
  text-align: center;

  .fa-star {
    color: #f8b808;
  }
}

.offer-sec {
  padding: 20px;
  margin: 28px 0px 20px 0px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  color: #fff;
  h3 {
    margin-top: 0px;
  }
}

.slider-card {
  border-radius: 0 !important;
  width: 250px auto;
}
